/*TABLE CONTENT WRAPPER*/ 
#table-content-wrapper {padding:20px 0px 200px 30px; overflow-x: hidden; margin-left: 0;}
#table-content-wrapper span{font-size: 3vw; font-family: 'Source Sans Pro', sans-serif; color: #333; }
#table-content-wrapper h2{ font-weight: 600;}
#table-content-wrapper .row{ margin: 0px;}
#table-content-wrapper, #main-wrapper, #main-header, #main-wrapper-settings, #main-content-wrapper, #main-header-settings{ font-family: 'Source Sans Pro', sans-serif;}

/*TABLE RESPONSIVE*/
.table-responsive>.table-bordered>tbody>tr>td:first-child{border-left: 1px solid #ddd;}
.table-responsive>.table-bordered>tbody>tr>td:last-child{border-right: 1px solid #ddd;}

/*TABLE WRAPPER*/
#table-wrapper{ white-space: nowrap; position: relative; width: 100%; margin-bottom: 0; }

/*MAIN*/
#main-header{font-family: 'Source Sans Pro', sans-serif; color: #333; }
#main-header h2{ font-family: 'Source Sans Pro', sans-serif; }
#main-header{ margin-top: 3.5%; margin-left:8%; font-family: 'Source Sans Pro', sans-serif !important;}
#main-header h2{ font-style: 'Source Sans Pro', sans-serif !important; font-weight: 600;}
#main-header-settings h2{ font-style: 'Source Sans Pro', sans-serif !important; font-weight:600;}
#main-wrapper{ margin-top:3%; margin-bottom:10%; width:100%;}
#main-header-settings{ margin-top: 3%; margin-left: 2%; font-style: 'Source Sans Pro', sans-serif !important;}
#main-setting-wrapper{ padding-top: 0.5%; margin-left: 6%; width: 88%; height: 585px; background-color: #E2E2E2; border-radius: 2px;}

/*TABLE*/
#table-lec, #table-lab, #table-attend, #table-final{overflow-y: scroll; height: 600px; margin-bottom: 0; border: 1px solid #808080;}
#table-lec { padding-left: 0; }

/* TABLE ELEMENTS*/
hr{ margin: 0px; border-top: 2px solid #61605e; }
h4 span{ font-family: inherit; font-size: inherit !important;}
#table-yes-btn {background-color: red; color: #fff; border: none; padding: 5px; width: 70px; font-size: 15px; margin-top: 10%; border-radius: 2px;}
#table-cancel-btn {background-color: gray; color: #fff; border: none; padding: 5px; width: 70px; font-size: 15px; margin-top: 10%; border-radius: 2px; margin-left: 10%;}
#table-lab1-button, #table-prac1-button, #table-proj1-button, #table-lab2-button, #table-prac2-button, #table-proj2-button {background: none; font-size: 20px; padding: 0 3;}
#table-lab1-button-del, #table-prac1-button-del, #table-proj1-button-del, #table-lab2-button-del, #table-prac2-button-del,
	#table-proj2-button-del {background: none; font-size: 20px; padding: 0 3; display: none;}

#table-items-wrapper tr:nth-child(1),#table-items-wrapper tr:nth-child(1) { width: 23px;}
#table-midterm, #table-finals{ border: solid 2px gray}
#table-blank{ border-top: solid 2px gray;}
#table-lab1-button, #table-prac1-button, #table-proj1-button, #table-lab2-button, #table-prac2-button, #table-proj2-button {background: none; font-size: 20px; padding: 0 3;}
#table-lab1-button-del, #table-prac1-button-del, #table-proj1-button-del, #table-lab2-button-del, #table-prac2-button-del, #table-proj2-button-del {background: none; font-size: 20px; padding: 0 3; display: none;}
#table-items-wrapper tr:nth-child(1),#table-items-wrapper tr:nth-child(1) { width: 23px;}
#table-att1-button, #table-att2-button{background: none; font-size: 20px; padding: 0 3;}
#table-att1-button-del, #table-att2-button-del {background: none; font-size: 20px; padding: 0 3; display: none;}
#table-assign1-button-del, #table-sw1-button-del, #table-ex1-button-del, #table-rec1-button-del, #table-quiz1-button-del, #table-le1-button-del, #table-assign2-button-del,
	#table-sw2-button-del, #table-ex2-button-del, #table-rec2-button-del, #table-quiz2-button-del, #table-le2-button-del {background: none; font-size: 20px;
	padding: 5px 10px 5px 10px; display: none;}

#border-left, #table-student, #table-blank2, #table-items, #table-blank{ border-left: solid 2px gray !important;}
#border-both{ border-left: solid 2px gray !important; border-right: solid 2px gray !important; }
#add-col-assign1, #add-col-sw1, #add-col-ex1, #add-col-rec1, #add-col-quiz1, #add-col-le1, #add-col-assign2, #add-col-sw2, #add-col-ex2, #add-col-rec2,
	#add-col-quiz2, #add-col-le2{background: none; font-size: 20px; padding: 5px 10px 5px 10px;}

#attend { padding-left: 10 }
#modal-text h3{ width: 100%; margin-top: 0px;}
#attendance, #midterm, #final, #border-bold{vertical-align: middle}
.fixed-width{ font-weight: 600;overflow: hidden; max-width:30px; max-height: 1em;}
.table-wrapper { overflow-x:scroll; overflow-y:visible; margin-left: 10%;}
.fa-plus-circle{color: #4BA301;} 
.fa-minus-circle{color: red;}
.border-bold, #border-bold, #table-name, #table-blank2, #table-items{ border-right: solid 2px gray}


/* ALERT MODAL */
#table-alert-modal #modal-text {width: 480px; padding: 30px;}
#table-alert-modal { display: none; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);}
#modal-text { background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 10%; text-align:center; position: relative;}

/*Fixed cell */
.table-student-assign-mid, .table-student-seatwork-mid, .table-student-exercise-mid, .table-student-recitation-mid, .table-student-quiz-mid, .table-student-longExam-mid,.table-student-midterm-score, .table-student-assign-finals, .table-student-seatwork-finals, .table-student-exercise-finals, .table-student-recitation-finals, .table-student-quiz-finals, .table-student-longExam-finals,.table-student-finals-score, .table-student-lab-mid, .table-student-prac-mid, .table-student-proj-mid, .table-student-lab-finals, .table-student-prac-finals, .table-student-proj-finals, .table-student-num-name td, .table-student-attendance-mid, .table-student-attendance-finals{ overflow: hidden; white-space: nowrap; word-wrap: break-word; max-width: 30px; max-height: 1em;}
.table-student-number, .table-student-name{width:150px !important;}
